* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@import "sass/colors";
@import "sass/layout";
@import "sass/spacing";
@import "sass/typography";
// @import "sass/header";

html {
  scroll-behavior: smooth;
  scrollbar-color: transparent;
}

body {
  width: 100%;
  height: 100vh;

  background-image: url("../img/technology/background-technology-desktop.jpg");
  background-size: cover;
  background-attachment: fixed; /* Mantém a imagem fixa enquanto a página rola */
  background-position: center; /* Centraliza a imagem no eixo X e Y */

  @include responsive(m) {
    text-align: center;
    background-image: url("../img/technology/background-technology-tablet.jpg");
  }

  @include responsive(s) {
    text-align: center;
    background-image: url("../img/technology/background-technology-mobile.jpg");
  }

  &::-webkit-scrollbar {
    padding-right: 2px;
    width: 8px;
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: $black-light;
  }
}

.border {
  border: 1px solid red;
}

.border-w {
  border: 1px solid white;
}

.hidden {
  overflow: hidden;
}

.relative {
  position: relative;
}

svg,
img {
  width: 100%;
  //height: auto;
}

@import "sass/menu";
@import "sass/destination";
@import "sass/crew";
@import "sass/tech";
@import "sass/icons";
@import "sass/buttons";
@import "sass/footer";
