// configurando links
a {
  cursor: pointer;

  text-decoration: none;

  // estabelecendo tamanho da fonte , config da fonte definida no "_typography.scss":
  // fonte: 'p3' | tela: 'desktop'
  @include typeface-2(p3, desktop);

  color: $white-dark;

  transition: 0.1s ease; // tempo de transição para efeito hover

  &:hover {
    padding-bottom: 35px;
    border-bottom: 3px solid rgba(255, 255, 255, 0.5);
  }
}

.a-noAnima {
  &:hover {
    border-bottom: transparent !important;
  }
}

// configurando botão principal
.btn {
  display: block;

  width: 274px;
  height: 274px;

  border-radius: 274px;
  background: #fff;

  border: 0;

  font-family: Bellefair !important;
  font-size: 32px !important;

  @include typeface-2(p3, desktop);

  cursor: pointer;

  transition: 0.3s ease;
  &:hover {
    border: 40px solid rgba(36, 38, 47, 0.9);
  }
}
