.slide-forced {
  display: grid !important;
  grid-template-columns: 1fr 1fr;
  align-items: center;

  cursor: pointer;

  position: relative;  
}

.swiper-pagination {
  position: absolute;

  bottom: 120px !important;
  left: 88px !important;
  transform: translate(-50%, -50%) !important;

  width: 232px !important;
  height: 16px !important;
}

.swiper-pagination-bullet {
  width: 16px !important; // Largura
  height: 16px !important; // Altura
  margin-right: 24px !important; // espaçamento
}

/* Altera a cor da bolinha */
.swiper-pagination-bullet {
  background-color: #fff !important;
}

@include responsive(m) {
  h5 {
    font-size: 20px;
    text-align: left;
    padding-left: 64px;
  }

  .slide-forced {
    grid-template-columns: 1fr;
    padding: 32px;

    img {
      width: 456px;
      margin-top: 82px;
    }
  }

  .swiper-pagination {
    top: 500px !important;
    left: 50% !important;

    padding: 32px 0;
  }
}
@include responsive(s) {
  h5 {
    font-size: 20px;
    text-align: left;
    padding-left: 64px;
  }

  .slide-forced {
    grid-template-columns: 1fr;
  }

  .swiper-pagination {
    top: 500px !important;
    left: 50% !important;

    padding: 32px 0;
  }
}
